.auth-page-container {
  width: 100vw;
  .auth-page {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .auth-panel {
      width: 90%;
      background-color: rgba($color: #212121, $alpha: 0.8);
      padding: 2rem;
      border-radius: 2rem;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .auth-page-container {
    .auth-page {
      .auth-panel {
        width: 40%;
      }
    }
  }
}
