<h1>Credits</h1>
<p>
  This website would not have been possible without the (free downloadable) work
  of others. This page lists all the sources that contributed to the success of
  our Formula 1 Manager
</p>

<h5>Shout out to Felix Berger</h5>
One of the cover images is made by
<a
  href="https://unsplash.com/photos/C_J29bp8-4Y?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink"
>
  Felix Berger </a
>.

<h5>Shout out to Kévin et Laurianne Langlais</h5>
One of the cover images is made by
<a
  href="https://unsplash.com/photos/cvnv8QNYiHU?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink"
  >Kévin et Laurianne Langlais </a
>.
