<div class="main-page-container">
  <div class="main-page-header">
    <mat-toolbar>
      <span>F1 Manager</span>
      <span class="full-width-spacer"></span>
    </mat-toolbar>
  </div>
  <div class="main-page-visual">
    <div class="main-frame">
      <mat-card class="success" *ngIf="success">
        <mat-card-title>{{
          "user.resetpasswordverification.success.title" | translate
        }}</mat-card-title>
        <mat-card-content>
          <p>
            {{ "user.resetpasswordverification.success.text" | translate }}
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="failed" *ngIf="failed">
        <mat-card-title>{{
          "user.resetpasswordverification.failed.title" | translate
        }}</mat-card-title>
        <mat-card-content>
          <p>
            {{ "user.resetpasswordverification.failed.text" | translate }}
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="!failed && !success">
        <mat-card-title>{{
          "user.resetpasswordverification.title" | translate
        }}</mat-card-title>
        <mat-card-content>
          <p>{{ "user.resetpasswordverification.text" | translate }}</p>
          <div *ngIf="passwordVerificationForm">
            <form no-validate [formGroup]="passwordVerificationForm">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="{{
                    'user.resetpasswordverification.form.username' | translate
                  }}"
                  formControlName="user"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="{{
                    'user.resetpasswordverification.form.code' | translate
                  }}"
                  formControlName="code"
                />
              </mat-form-field>
            </form>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div *ngIf="passwordVerificationForm" class="">
            <button
              mat-flat-button
              color="primary"
              [disabled]="!passwordVerificationForm.valid"
              (click)="verify()"
            >
              {{ "buttons.confirm" | translate }}
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
