.mat-toolbar {
  a,
  button {
    margin-right: 1rem;
    font-size: 1rem;
  }
}
.main-page-container {
  width: 100vw;
  background-color: #212121;
  .main-page-visual {
    height: 100vh;
    background-image: url("/assets/visuals/0002.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .main-page-jumbo {
      width: 90%;
      background-color: rgba($color: #212121, $alpha: 0.8);
      padding: 2rem;
      border-radius: 2rem;
      margin-left: 10%;
      margin-bottom: 10%;
      h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin: 0;
        font-weight: 100;
      }
      p {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin: 0;
      }
    }
  }
}

.main-page-explainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  .one-third {
    width: 33%;
    margin: 1rem;
    margin-right: 30%;
  }
  .two-third {
    width: 33%;
    margin: 1rem;
    margin-left: 30%;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1200px) {
  .main-page-container {
    .main-page-visual {
      .main-page-jumbo {
        width: 60%;
        h1 {
          font-size: 4rem;
          line-height: 4rem;
        }
        p {
          font-size: 2rem;
          line-height: 2rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .main-page-container {
    .main-page-visual {
      .main-page-jumbo {
        width: 50%;
        h1 {
          font-size: 6rem;
          line-height: 6rem;
        }
        p {
          font-size: 2rem;
          line-height: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}
