<f1-admin-toolbar></f1-admin-toolbar>
<f1-teams-toolbar></f1-teams-toolbar>
<div *ngIf="baseTeams">
  <mat-table [dataSource]="baseTeams">
    <ng-container matColumnDef="name">
      <mat-header-cell
        *matHeaderCellDef
        class="column name-column header flex-8"
      >
        {{ "admin.base-teams.details.name" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="column name-column cell flex-8">
        <a (click)="editBaseTeam(row)"> {{ row.name }} </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="base">
      <mat-header-cell
        *matHeaderCellDef
        class="column base-column header flex-8"
      >
        {{ "admin.base-teams.details.base" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="column base-column cell flex-8">
        {{ row.base }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="principal">
      <mat-header-cell
        *matHeaderCellDef
        class="column principal-column header flex-8"
      >
        {{ "admin.base-teams.details.principal" | translate }}
      </mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        class="column principal-column cell flex-8"
      >
        {{ row.principal }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="technicalChief">
      <mat-header-cell
        *matHeaderCellDef
        class="column technical-chief-column header flex-8"
      >
        {{ "admin.base-teams.details.technicalChief" | translate }}
      </mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        class="column technical-chief-column cell flex-8"
      >
        {{ row.technicalChief }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell
        *matHeaderCellDef
        class="column actions-column header flex-1"
      >
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="column actions-column cell flex-1">
        <button
          mat-icon-button
          (click)="deleteBaseTeam(row)"
          color="warn"
          *ngIf="!row.isDeleted"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="undeleteBaseTeam(row)"
          *ngIf="row.isDeleted"
        >
          <mat-icon>backspace</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      [class.deleted]="row.isDeleted"
    ></mat-row>
  </mat-table>
</div>
<f1-empty-state
  *ngIf="!isLoading && (!baseTeams || baseTeams.length === 0)"
></f1-empty-state>
<f1-loading *ngIf="isLoading"></f1-loading>
