<mat-toolbar color="primary">
  <span>F1 Manager</span>
  <span class="full-width-spacer"></span>
  <f1-notification-button></f1-notification-button>
  <f1-language-button></f1-language-button>

  <button
    mat-icon-button
    class="account-icon"
    aria-label="User profile icon"
    *ngIf="isLoggedIn"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>

  <button
    mat-flat-button
    class="account-icon"
    aria-label="User profile icon"
    (click)="login()"
    *ngIf="!isLoggedIn"
  >
    Log in
  </button>
</mat-toolbar>
