<h2 mat-dialog-title>{{ "user.resetpassword.title" | translate }}</h2>
<mat-dialog-content>
  <p>
    {{ "user.resetpassword.text" | translate }}
  </p>
  <div *ngIf="resetPasswordForm && !completed">
    <form no-validate [formGroup]="resetPasswordForm">
      <input type="hidden" formControlName="baseUrl" />
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="{{
            'user.resetpassword.form.usernameoremail' | translate
          }}"
          formControlName="usernameOrEmail"
        />
      </mat-form-field>
    </form>
  </div>
  <div class="resetcomplete" *ngIf="completed">
    <mat-card color="primary">
      <mat-card-content>
        {{ "user.resetpassword.confirmation" | translate }}
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!completed">
  <button
    mat-flat-button
    color="primary"
    *ngIf="resetPasswordForm"
    [disabled]="
      resetPasswordForm.valid && !resetPasswordForm.pristine && !completed
        ? null
        : 'disabled'
    "
    (click)="reset()"
  >
    {{ "buttons.ok" | translate }}
  </button>
  <button mat-flat-button color="accent" [mat-dialog-close]="false">
    {{ "buttons.cancel" | translate }}
  </button>
</mat-dialog-actions>
