<f1-user-toolbar></f1-user-toolbar>
<f1-user-header pageTitle="user.change-password.title"></f1-user-header>
<div class="user-page">
  <div class="change-password">
    <div class="change-password-card">
      <mat-card *ngIf="changePasswordForm">
        <mat-card-title>
          {{ "user.change-password.title" | translate }}
        </mat-card-title>
        <mat-card-content>
          <p>{{ "user.change-password.text" | translate }}</p>
          <div class="change-password-form">
            <form no-validate [formGroup]="changePasswordForm">
              <mat-form-field>
                <input
                  matInput
                  type="password"
                  placeholder="{{
                    'user.change-password.form.oldpassword' | translate
                  }}"
                  formControlName="oldPassword"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  type="password"
                  placeholder="{{
                    'user.change-password.form.newpassword' | translate
                  }}"
                  formControlName="newPassword"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  type="password"
                  placeholder="{{
                    'user.change-password.form.confirmpassword' | translate
                  }}"
                  formControlName="confirmPassword"
                />
              </mat-form-field>
              <div *ngIf="hasPasswordValidationError()" class="warn">
                <p>
                  {{
                    "user.change-password.form.passwords-do-not-match"
                      | translate
                  }}
                </p>
              </div>
            </form>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-flat-button
            color="primary"
            [disabled]="!changePasswordForm.valid"
            (click)="changePassword()"
          >
            {{ "buttons.confirm" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
