.change-password {
  margin-top: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  .change-password-card {
    width: 80%;
  }
  .mat-card-actions {
    text-align: right;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1200px) {
  .change-password {
    .change-password-card {
      width: 50%;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .change-password {
    .change-password-card {
      width: 40%;
    }
  }
}

@media only screen and (max-width: 767px) {
  /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}
